* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
    list-style-type: none;
}

html{
    scroll-behavior: smooth;
}

body {
    
    background-color:rgb(255, 255, 255);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
    
}

.navbar {
    background-color: rgb(0, 0, 0);
    height: 60px;
    position: fixed;
    width: 100%;
    
    
}

.nav-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
    
  }


 
.logo {
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 60px
}

.navbar li a {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 16px;

}

.navbar li a:hover{
    color: red;
    

}




#container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    border: 1px solid rgb(0, 0, 0);
    height: 100vh;
    

 
}

.left-container {
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 35px 30px;
    background-color: black;
}


.left-container h1 {
    font-size: 140px;
    color: white;
    margin-bottom: 30px;
    font-family: 'Dancing Script', cursive;
    width: 100%;
    text-align: center;
    
}

.left-container p {
    font-size: 20px;
    color: white;
    text-align: justify;
    margin-bottom: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.cover {
    min-width: 10%;
    height: auto;
    object-fit: cover;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 5px;
    border: white 3px solid;
    border-radius: 100px;
    font-family:monospace ;
    font-weight: bold;
    margin-top: 25px;
    cursor: pointer;

}

button:hover {
    color:black;
    background-color: white;
    border: rgb(165, 0, 0) 2px solid
}

#categories-section{
    text-align: center;
    padding: 100px 30px;
    margin: 0 100px;
  

}

.categories-title{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}


.categories-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:100px 0;
    
}

.categories{
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    height: auto;
    width: 500px;
    
    
    
}

.categories img{
    width: 500px;
    height: 150px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 10px;
    cursor: pointer;
    }

.categories h1{
    border: 1px none solid;
    background-color: black;
    color: white;
    padding: 30px 0;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.categories h1:hover{
    color: rgb(151, 0, 0);
}

.categories img:hover{
    height: 300px;
    transition: height 1s;
}

#product-section{
    background-color: black;
    padding: 20px 30px;
    height:auto;
}



.product-title{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: white;
    text-align: center;
}

.products-container{
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 0px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    cursor: pointer;
}

.product:hover h2{
    text-decoration: underline;
    text-decoration-color: red;
}

.hot-deals-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0px;

}

.hot-deals-product img,.product img{
    width: 250px;
    max-width: 100%;
}
.hot-deals-product h1,.product h1{
    width: 250px;
}

span{
    color: red;
}

#hot-deals-section{
    margin: 30px 10px;
    height:auto;

}

.hot-deals-product{
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.068);
    cursor: pointer;
    padding: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.hot-deals-product:hover{
    border: 1px solid rgb(0, 0, 0);
}

.hot-deals-title{
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    text-align: center;
}


.hot-deals-product:hover h2{
    text-decoration: underline red;
}


.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: auto;
}

.footer-container div{
    font-size: 18px;
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 15px 0 5px 0;
}

.footer-container img{
    width: 25px;
    margin: 0 5px;
    font-size: 18px;
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 15px 0 5px 0;
    cursor: pointer;

}


@media only screen and (max-width: 760px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    .navbar{
        width: 100%;
        height: auto;
        position: static;
    
        
    }

    .nav-container{
        flex-direction: column;
        align-items: start;
        padding: 20px 30px;
        
    }
    
    .nav-container ul{
        flex-direction: column;
    
        
    }

    .nav-container ul li{
        flex-direction: column;
        margin: 10px 0;

    }

                        /***** HEADER *****/

    #container{
        height: auto;
        flex-direction: column;
    }

    .left-container {
        width: auto;
        display: flex;
        justify-content: start;
        flex-direction: column;
        padding: 35px 30px;
        background-color: transparent;
        position: absolute;
        top: 200px
        
    }
    .left-container h1{
         font-size: 40px;
         text-align: center;
         padding: 10px;
         margin: 0;
    }

    .left-container p{
        font-size: 10px;
        margin: 0;
        
   }

   .left-container button{
   display: none;
   }

    .cover{
        width: auto;
        height: auto;
    }

    .categories-container{
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;

    }

    #categories-section{
        margin: 20px 0;
        padding: 0;
    }

    .categories{
        width: 100px;
        margin: 10px;
       
    }

    .categories img{
        width: 100px;
        height: 100px;
        
       
    }

    .categories-title{
        font-size: 30px;
    }

    .categories h1{
        padding: 10px;
        margin: 10px;
        font-size: 8px
        
       
    }

    .products-container{
        display:flex;
        flex-direction: column;
        margin: 10px;
        padding: 0;
     
    }

    .product-title{
        font-size: 30px;
    }
    
    .product{
        margin: 30px;
    }

    .product img{
        width: 450px
    }

    .hot-deals-container{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
     

    }

   #hot-deals-section{
    text-align: center;
   }

   .hot-deals-product{
    margin: 5px
   }

   .hot-deals-product img{
        width: 100px;

    }



}








    

